<div class="mt-4 p-5 bg-primary text-white rounded">
    <h1>Trade</h1>
    <p> &copy; Trade</p>
    <p> Hotline:0986553475</p>
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-twitter"></i>
</div>