
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="text-center">
    <img style="width:200px;" src="https://www.logoarena.com/contestimages/public_new/192/489_1305891177_trandeontrade15.png" />

</div>

<div class="d-flex" style="justify-content:center">
    <div class="carreaux_presentation_light" style="background-image: url(https://i.pinimg.com/564x/c6/b4/31/c6b4315fe4c87ecc6a90ec366944e91b.jpg);">
        <div class="shadow_swhow_mini">
            <div class="deroul_titre">Chứng khoán</div>
        </div>
    </div>
    <div class="carreaux_presentation_light" style="background-image: url(https://i.pinimg.com/564x/63/7f/b5/637fb56e96dad99d8467584c017122e7.jpg);">
        <div class="shadow_swhow_mini">
            <div class="deroul_titre">Vàng</div>
        </div>
    </div>
    <div class="carreaux_presentation_light" style="background-image: url(https://i.pinimg.com/564x/31/77/14/317714e4b47d0c04a7ebd2926897a0bf.jpg);">
        <div class="shadow_swhow_mini">
            <div class="deroul_titre">Bất động sản</div>
        </div>
    </div>
</div>
<div class="text-center " style="margin-top: 150px">
    <div>
        <h2>Hãy tăng thu nhập của bạn!!!</h2>
        <a href="/"><button type="button" class="btn btn-warning">Đăng kí</button></a>
    </div>
    <img style="width:200px; margin-top:30px" src="https://res.cloudinary.com/dexbjwfjg/image/upload/v1676396923/profits_ljfqic.png" />
</div>

<div class="d-flex customer-service" style="margin-top: 150px">
    <div style="margin-top:50px">
        <h2>Bạn cần giúp đỡ?</h2>
        <a href="/"><button type="button" class="btn btn-warning">CSKH</button></a>
    </div>
    <img class="helper" style="width:200px; margin-top:30px" src="https://res.cloudinary.com/dexbjwfjg/image/upload/v1676395709/help-desk_bndhjz.png" />
</div>

