
@{
    ViewBag.Title = "NhaDat";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h1 class="text-center">Bất Động Sản</h1>
<div class="text-center" style="margin-top:150px">
    <iframe style="justify-content: center; border: none; width: 1500px;height:625px"
            scrolling="no"
            
            src="https://banggiabatdongsan.vn/">
    </iframe>
</div>



