
@{
    ViewBag.Title = "Vang";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h1 class="text-center">Vàng</h1>
<div class="text-center">
    <iframe style="justify-content:center;border: none; width: 1500px; height: 800px" src="https://tygiado.com/nhung-gia-vang/"></iframe>
</div>


