
.navbar {
    width: 100%;
}

body {
    padding-bottom: 20px;
}

.center-pic {
    width: 500px;
    padding: 10px;
}

.fond {
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.carreaux_presentation_light {
    margin: 10px;
    display: table-cell;
    width: 500px;
    height: 700px;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

    .carreaux_presentation_light .shadow_swhow_mini {
        background-color: rgba(19,30,33,0.4);
        position: absolute;
        z-index: 1000;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .carreaux_presentation_light:hover .shadow_swhow_mini {
        background-color: rgba(16,23,41,0);
    }

    .carreaux_presentation_light .deroul_titre {
        position: absolute;
        text-transform: uppercase;
        font-family: 'Roboto';
        padding: 7px;
        z-index: 1000;
        top: 60%;
        left: -80%;
        color: #ffffff;
        font-weight: 300;
        font-size: 30px;
        width: 80%;
        -webkit-transition: all 0.7s;
        -moz-transition: all 0.7s;
        transition: all 0.7s;
    }

    .carreaux_presentation_light:hover .deroul_titre {
        background-color: #1e4944;
        left: 0px;
    }


.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.dl-horizontal dt {
    white-space: normal;
}


input,
select,
textarea {
    max-width: 280px;
}

button {
    width: 200px;
    height: 50px;
}

.helper {
    width: 300px;
}

.customer-service {
    justify-content: center;
    margin-top: 200px;
}

label {
    width: 300px !important;
}

input {
    margin-inline: auto;
}

table {
    border-collapse: collapse;
}
